/* variables css avec root*/


:root{
    --primary-color:#2563eb;
    --primary-dark:#1d4ed8;
    --secondary-color:#f59e0b;
    --text-colo:#1f2937;
    --text-light:#6b7280;
    --background-color:#f8fafc;
    --white:#ffffff;
    --border-color:#e5e7eb;
    --spacing:20px;
    --radius:12px;
    --shadow:0 10px 30px rgba(0,0,0,0.8);
    --container-width:1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-colo);
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: min(90%,var(--container-width));
    margin: auto;
}

.header{
    position:sticky ;
    top: 0;
    z-index: 1000;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
}

.header-content{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing);
}

.nav{
display: flex;
gap: 25px;
}


nav a{
    transition: color 0.3s;
}
nav a:hover{
    color: var(--primary-color);
}

.cart{
    padding: 15px 15px;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    transition: background-color 0.3s ,
    transform 0.3s;
}

.cart:hover{
    background-color: var(--primary-dark);
    transform: translateY(-2px);
}

.logo{
    font-size: 25px;
    font-weight: bold;
    color: var(--primary-color);
}

/* hero section*/

.hero,.products-section,.about,.footer{
    padding: 80px 0;
    background-color: var(--white);
}

.hero-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.hero-image{
    background-image: url(image.png);
    min-height: 350px;
    animation: float 3s ease-in-out infinite;
  
}

.hero-badge{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 15px;
    background-color: #dbeafe;
    color: var(--primary-color);
    border-radius: 50px;
    font-weight: bold;
    font-size: 14px;
}

.hero h1{
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero p{
    color: var(--text-light);
    font-size: 18px;
    max-width: 550px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    background-color: var(--primary-color);
    padding: 14px 24px;
    color: white;
    font-weight: bold;
    border-radius: var(--radius);
}
 /* section products*/

.products-title{
    text-align: center;
    margin-bottom: 50px;
}

.products-title span{
    color: var(--primary-color);
    font-weight: bold;
}
.products-title h2{
    font-size: 35px;
    margin: 8px 0;
}
.products-title p{
    color: var(--text-light);
}

.products-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ;
    gap: var(--spacing);
}

.product-card{
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
}
.product-image{
    height: 230px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-badge{
    position: absolute;
    background-color: #f59e0b;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    border-radius: var(--radius);
    color: white;
    font-weight: bold;
    z-index: 2;
}

.product-content{
    padding: 20px;
}

.product-content h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.product-content p{
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--text-light);
}

.product-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.product-price{
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 15px;
}

.product-btn{
    padding: 8px 14px;
    background-color: var(--primary-color);
    border-radius: var(--radius);
    color: white;
    margin: 15px;
}

/* about section */
.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.about-image{
    background-image:url(image.png);
    min-height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-text span{
    color: var(--primary-color);
    font-weight: bold;
}

.about-text h2{ 
    font-size: 36px;
    margin: 10px 0 20px;
}

.about-text p{
    color: var(--text-light);
    margin-bottom: 30px;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*footer*/
.footer{
   background-color: #111827;
   color: white;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 35px;
   
}
.footer h2{
    margin-bottom: 15px;
}
.footer p{
    color: var(--text-light);
}


.copyright{
   padding-top: 30px;
    text-align: center;
    border-top: 1px solid var(--border-color);
}

@media (max-width:900px){
    .hero-content,.about-content{
        grid-template-columns: 1fr;
    }
    .hero-text{
        text-align: center;
    }
    .hero p{
        margin-left: auto;
        margin-right: auto;
    }
    .hero-image,.about-image{
        min-width: 280px;
    }
}


@media (max-width:700px){
    .header-content{
        flex-direction: column;
    }
    .footer-content{
        grid-template-columns: 1fr;
        text-align: center;
    }
}



/* annimation*/
@keyframes float{
    0%{
        transform: translateY(10px);
    }

    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}